.component {
  display: flex;
  flex-flow: column;
  row-gap: 4px;
  margin-block-start: 20px;

  label {
    font-size: 10px;
    color: rgba(var(--primary-rgb), 1);
    translate: 4px 0;
  }

  input {
    border: 0;
    border-bottom: 1px solid rgba(var(--primary-rgb), 0.3);
    padding: 6px 0;
    background: transparent;

    &:focus-visible {
      outline: none;
      border-bottom-color: rgba(var(--primary-rgb), 1);
    }

    &::placeholder {
      color: rgba(var(--primary-rgb), 0.8);
    }
  }
}